@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Fira+Code:wght@500;600;700&display=swap'); 

body {    
    background-color: rgb(241, 234, 234);
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Fira Code', monospace;
} 

.container {
    display: flex;
    position: relative;
    /* z-index: -1;
    grid-row:1;
    grid-column: 1;
    overflow: hidden;
    top: 0;
    width: 100%; */

}
 
.nome {
    font-size: 45px;
    /* position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); */
    
}
/* 
img {
    width: 100%;
    height: 75ch;
    opacity: 0.3;
  
}  */

.cargo {
    font-size: 15px;
    text-align: center;
    
}

/* .perfil {
    background-color: rgb(117, 110, 110);
    text-rendering: auto;
    margin-inline-end: 20cm;
} */

.informacoes-container {
    text-align: center;
    display: grid;
    gap: 1rem;
    grid-auto-flow: row;
    max-width: 50rem;
    grid-template-columns: repeat(2, 1fr);
}

.informacoes{
    border: 1px solid;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 0.15rem;
}