@font-face {
    font-family: 'quanton';
    src: url(./font/quanton-tiulo/QuantonPERSONALUSEONLY-Black.otf),
        url(./font/quanton-tiulo/QuantonPERSONALUSEONLY-Bold.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Fira+Code:wght@500;600;700&display=swap');

body{
    border: 1px solid;    ;
    background-color: darkgrey;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Fira Code', monospace;
}

.container {
    display: flex;

}

img {
    width: 190px;
    border-radius: 8px;
 
}

.nome {
    font-family: 'quanton';
    font-size: 45px;
}

.cargo{
    font-size: 15px;
    text-align: center;
    
}
.perfil{
    background-color:rgb(117, 110, 110);
    text-rendering: auto;
    margin-inline-end: 20cm;
}
.informacoes-container{
    display: grid;
    gap: 1rem;
    grid-auto-flow: row;
    max-width: 52rem;
    grid-template-columns: auto;
}
.informacoes{
    border: 1px solid;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}